<div id="restaurant-details" class="hidden">
    <div class="container mt-5">
        <h1 class="mb-4">Restaurant Details</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Restaurant</th>
                <th>Menu</th>
                <th>Menu Category</th>
                <th>Category Item</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="restaurant : ${allRestaurants}">
                <td th:text="${restaurant.name}"></td>

                <td th:each="menu : ${restaurant.menu}">
                    <span th:if="${menu != null}" th:text="${menu.name}"></span>
                </td>

                <td>
                        <span th:each="menu : ${restaurant.menu}">
                            <span th:each="menuCategory : ${menu.menuCategories}">
                                <span th:if="${menuCategory != null}" th:text="${menuCategory.name}"></span>

                                <span th:each="categoryItem : ${menuCategory.categoryItems}">
                                    <span th:if="${categoryItem != null}" th:text="${categoryItem.name}"></span>
                                </span>
                            </span>
                        </span>
                </td>

                <td>
                    <!-- Placeholder for Category Item -->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>