<div id="owner_restaurant" class="hidden">
    <h1>Restauracja</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Adres</th>
            <th>Telefon</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Nazwa restauracji 1</td>
            <td>Adres 1</td>
            <td>Telefon 1</td>
        </tr>
        <tr>
            <td>Nazwa restauracji 2</td>
            <td>Adres 2</td>
            <td>Telefon 2</td>
        </tr>
        <!-- Dodaj więcej wierszy według potrzeb -->
        </tbody>
    </table>
</div>
