<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div id="category" class="hidden">
    <div class="container mt-5">
        <h2>Add Category</h2>
        <form action="#" th:action="@{/owner/category}" th:object="${categoryDTO}" method="post">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" class="form-control" id="description" th:field="*{description}">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>

        <br>
        <div class="container mt-5">
            <h2>Your Categories</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Menu Category</th>
                    <th>Description</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="menuCategory : ${allMenuCategories}">
                    <td th:text="${menuCategory.name}"></td>
                    <td th:text="${menuCategory.description}"></td>
                    <td>
                        <form th:action="@{/owner/delete-category}" method="post">
                            <input type="hidden" name="menuCategoryId" th:value="${menuCategory.menuCategoryId}"/>
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="container mt-3">
            <a href="/foodflow/owner" class="btn btn-success">Back to the main page</a>
        </div>
        <br>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
