<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Restaurant</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="restaurant" class="hidden">
    <div class="container mt-5">
        <h2>Add restaurant</h2>
        <form action="#" th:action="@{/owner/restaurant}" th:object="${restaurantDTO}" method="post">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nip">NIP:</label>
                        <input type="text" class="form-control" id="nip" th:field="*{nip}" placeholder="1234567890"
                               pattern="[0-9]{10}">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" class="form-control" id="description" th:field="*{description}">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="text" class="form-control" id="phone" th:field="*{phone}">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label for="openTime">Open Time:</label>
                        <input type="text" class="form-control" id="openTime" th:field="*{openTime}"
                               required pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]"
                               placeholder="HH:mm:ss (e.g. 09:30:00)">
                    </div>
                    <div class="form-group">
                        <label for="closeTime">Close Time:</label>
                        <input type="text" class="form-control" id="closeTime" th:field="*{closeTime}"
                               required pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]"
                               placeholder="HH:mm:ss (e.g. 18:00:00)">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="deliveryPrice">DeliveryPrice:</label>
                        <input type="text" class="form-control" id="deliveryPrice" th:field="*{deliveryPrice}" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="minimumOrderAmount">Minimum order amount:</label>
                        <input type="text" class="form-control" id="minimumOrderAmount"
                               th:field="*{minimumOrderAmount}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="street">Street:</label>
                        <input type="text" class="form-control" id="street" th:field="*{address.street}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="postalCode">Postal Code:</label>
                        <input type="text" class="form-control" id="postalCode" th:field="*{address.postalCode}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="city">City:</label>
                        <input type="text" class="form-control" id="city" th:field="*{address.city}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="country">Country:</label>
                        <input type="text" class="form-control" id="country" th:field="*{address.country}">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="deliveryOption"
                                   th:field="*{deliveryOption}" onchange="toggleDeliveryPrice()">
                            <label class="form-check-label" for="deliveryOption">Delivery option:</label>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary" th:disabled="${existingRestaurant != null}">Create
                    </button>
                </div>
            </div>
        </form>

        <div class="container mt-5" th:if="${existingRestaurant}">
            <h2>Your Restaurant</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${existingRestaurant.name}"></td>
                    <td th:text="${existingRestaurant.description}"></td>
                    <td>
                        <form th:action="@{/owner/restaurant-update}" method="get">
                            <input type="hidden" name="restaurantId" th:value="${existingRestaurant.restaurantId}"/>
                            <button type="submit" class="btn btn-primary btn-sm">Update</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/owner/restaurant-delete}" method="post">
                            <input type="hidden" name="restaurantId" th:value="${existingRestaurant.restaurantId}"/>
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <br>
    <div class="container mt-3">
        <a href="/foodflow/owner" class="btn btn-success">Back to the main page</a>
    </div>
    <br>
</div>
</body>
</html>

