<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image Upload Form</title>
    <!-- Dodaj link do Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Image Upload Form</h1>

    <form action="/images/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="categoryId">Select Category:</label>
            <select id="categoryId" name="categoryId" th:field="*{categoryId}" class="form-control">
                <option th:each="category : ${categoryItems}"
                        th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="itemId">Select Item:</label>
            <select id="itemId" name="itemId" th:field="*{itemId}" class="form-control">
                <option th:each="item : ${items}"
                        th:value="${item.id}"
                        th:text="${item.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="image">Choose Image:</label>
            <input type="file" id="image" name="image" accept="image/*" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Upload Image</button>
    </form>

    <p th:if="${param.success}" class="mt-3 alert alert-success">Image uploaded successfully!</p>
    <p th:if="${param.error}" class="mt-3 alert alert-danger" th:text="${param.error}">Image upload failed.</p>
</div>
</body>
</html>
